.panel-shop {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 0;

    // .avatar-container {
    //     position: absolute;
    //     bottom: -40px;
    //     left: 40px;

    //     img {
    //         max-width: 120px;
    //     }
    // }
}