.dashboard {

    .dashboard-sidebar {
        background-color: #1a1d24;

        &[class^=col] {
			padding: $grid-gutter-width/2 0;
		}

        .list-group {
			a {
				padding: 10px 0 10px $grid-gutter-width/2;
				color: #fff;
				display: block;

				&:hover, &.active {
					color: #ea1830;
					text-decoration: none;
					background-color: #ead7d9;
					border-right: 3px solid #ea1830;
				}
			}

		}
    }

    .dashboard-content {
        &[class^=col] {
			padding: $grid-gutter-width/2;
		}
    }

    @media(min-width: $screen-desktop) {
        &.row-eq-height {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
        }

		.dashboard-sidebar {
			height: 100vh;
		}
    }
}